In [4]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
from datetime import datetime, timedelta

In [5]:
## Pitchers url: 'https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&season=2023&season1=2023&ind=0&pageitems=2000000000&qual=0&team=0&startdate=' + start_date + '&enddate=' + temp_date'
## Batters url: 'https://www.fangraphs.com/leaders/major-league?pos=all&stats=bat&lg=all&type=1&season=2023&month=1000&season1=2023&ind=0&pageitems=2000000000&qual=0&team=0&startdate=' + start_date + '&enddate=' + temp_date'

In [6]:
## To simplify webscraping I'm going to loop through each day of the season, pull all "Advanced Stats" 
## for all players for each day of the 2023 season. I'll then do the same for pitchers. Once I have all
## that data I'll worry about creating a clean data set for training a model

In [7]:
## Using options while getting the url to avoid issues with grabbing url and saving html
options = webdriver.ChromeOptions() # Adding specifications on the driver to avoid timeouts loading the url
options.add_argument('--headless')  # Keeps from opening a chrome tab 
options.add_argument('--pageLoadStrategy=none') # Including manual arguments and waiting inputs for the page to load
options.add_argument("--blink-settings=imagesEnabled=false")  # Disable images
options.add_argument("--autoplay-policy=no-user-gesture-required")  # Disable video autoplay
options.add_argument("--disable-notifications") # Avoiding one of Fangraphs pop ups

In [8]:
## Function for getting the html from a url for hitters stats between a start date and end date
def get_html(url):
    url = url
    driver = webdriver.Chrome(options = options)
    try:
        driver.set_page_load_timeout(30)  # Set page load timeout
        driver.get(url)
        time.sleep(3)
        html = driver.page_source
        # Use explicit wait for a specific element
        #wait = WebDriverWait(driver, 30)
        #wait.until(EC.presence_of_element_located((By.CLASS_NAME, 'table-scroll')))
    except Exception as e:
        print("Exception occured: ", e)
    
    driver.quit()
    return html

In [9]:
## Parse the webpage html and extract the html for just the specific table
def table_parse(html):
    soup = BeautifulSoup(html, 'html.parser')
    html_table = soup.find('div', class_='table-scroll').find('table')
    return(html_table)

In [10]:
## convert table html into a dataframe
def html_converter(html_table):
    ## Create the header for the dataframe
    head = html_table.find_all('th') 
    header = [cell.get_text(strip=True) for cell in head]
    
    ## HTML has hidden text in it that we need to get rid of
    updated_header = []
    for head in header:
        index = head.find(' ')
        if index == -1:
            updated_header.append(head)
        else:
            i = int(index/2)
            updated_header.append(head[:i])

    df = pd.DataFrame(columns=updated_header) ## Create dataframe with above header
    
    
    ## Append the rows to the dataframe
    rows = html_table.find_all('tr')[1:] ## Getting the rows (skipping the header)
    for row in rows:
        values = row.find_all('td')   
        new_row = [value.get_text(strip=True) for value in values]
        df.loc[len(df)] = new_row # Append new row to the bottom of the dataframe
    
    return df

In [11]:
## Formula for increasing the date by one day for the url
def next_day(date):
    datetime_object = datetime.strptime(date, "%Y-%m-%d")
    add_day = datetime_object + timedelta(days=1)
    next_day = add_day.strftime("%Y-%m-%d")
    return next_day

In [12]:
# Iterate through all days in the year and collect hitting or pitching data. Dates entered in format "YYYY-MM-DD"
# and positions are "Batter" or "Pitcher"

def collector(start_date, end_date, position):
    temp_date = next_day(start_date)
    i = 0
    daily_data = pd.DataFrame()
    
    
    
    ## Iterates through each day of the season, grabs the data and adds it to the final dataframe
    while temp_date<end_date:
                ## Define the url to webscrape from based on the position
        if position == 'Hitter':
            url = 'https://www.fangraphs.com/leaders/major-league?pos=all&stats=bat&lg=all&type=1&season=2023&month=1000&season1=2023&ind=0&pageitems=2000000000&qual=0&team=0&startdate=' + start_date + '&enddate=' + temp_date
        elif position == 'Pitcher':
            url = 'https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=' + start_date + '&enddate=' + temp_date + '&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1'
        else:
            print("Invalid position type: " +  position + " entered, Hitter or Pitcher expected")
        try:
            html = get_html(url)
            html_table = table_parse(html)
            data_to_date = html_converter(html_table)
            if i==0:
                daily_data = data_to_date
                daily_data['Stats Through This Date'] = temp_date
                i+=1
            else:
                data_to_date['Stats Through This Date'] = temp_date
                daily_data = pd.concat([daily_data, data_to_date], ignore_index=True)
                i+=1
            temp_date = next_day(temp_date)
            print(temp_date)
            print(url)
            display(daily_data.head(2))
            display(daily_data.tail(2))
        except:
            temp_date = next_day(temp_date) 
            print(temp_date)
    return daily_data

In [13]:
position = "Pitcher"

In [14]:
pitcher_data = collector("2022-04-06", "2022-10-03", position)

2022-04-08
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-07&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
65,66,Aaron Fletcher,PIT,0.00,0.00,0.00,18.00,,0.0%,0.0%,...,794,225,,36.00,32.11,3.89,,9.07,6.35,2022-04-07
66,67,Spencer Strider,ATL,22.50,0.00,5.00,0.00,,83.3%,0.0%,...,-46,-27,,0.00,-1.89,1.89,,-1.15,-0.86,2022-04-07

2022-04-09
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-08&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
257,191,Aaron Fletcher,PIT,0.00,0.00,0.00,18.00,,0.0%,0.0%,...,794,225,,36.00,32.11,3.89,,9.07,6.35,2022-04-08
258,192,Spencer Strider,ATL,22.50,0.00,5.00,0.00,,83.3%,0.0%,...,-46,-27,,0.00,-1.89,1.89,,-1.15,-0.86,2022-04-08

2022-04-10
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-09&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
547,289,Spencer Strider,ATL,22.50,0.00,5.00,0.00,,83.3%,0.0%,...,-46,-27,,0.00,-1.89,1.89,,-1.15,-0.86,2022-04-09
548,290,Hirokazu Sawamura,BOS,0.00,0.00,0.00,0.00,,0.0%,0.0%,...,78,117,,0.00,3.11,-3.11,,4.59,5.92,2022-04-09

2022-04-11
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-10&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
923,375,Spencer Strider,ATL,22.50,0.00,5.00,0.00,,83.3%,0.0%,...,-46,-27,,0.00,-1.89,1.89,,-1.15,-0.86,2022-04-10
924,376,Hirokazu Sawamura,BOS,0.00,0.00,0.00,0.00,,0.0%,0.0%,...,78,117,,0.00,3.11,-3.11,,4.59,5.92,2022-04-10

2022-04-12
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-11&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
1336,412,Collin Snider,KCR,10.80,0.00,2.00,0.00,,33.3%,0.0%,...,17,40,,0.00,0.71,-0.71,,1.60,1.02,2022-04-11
1337,413,Hirokazu Sawamura,BOS,0.00,0.00,0.00,0.00,,0.0%,0.0%,...,78,117,,0.00,3.11,-3.11,,4.59,5.92,2022-04-11

2022-04-13
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-12&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
1787,450,Hirokazu Sawamura,BOS,0.00,0.00,0.00,0.00,,0.0%,0.0%,...,78,124,,0.00,3.11,-3.11,,4.89,6.80,2022-04-12
1788,451,Bryce Elder,ATL,6.35,0.00,4.00,3.18,,18.2%,0.0%,...,159,82,,4.76,6.29,-1.52,,3.27,3.49,2022-04-12

2022-04-14
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-13&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
2250,462,Hirokazu Sawamura,BOS,0.00,0.00,0.00,0.00,,0.0%,0.0%,...,78,124,,0.00,3.11,-3.11,,4.89,6.80,2022-04-13
2251,463,Bryce Elder,ATL,6.35,0.00,4.00,3.18,,18.2%,0.0%,...,159,82,,4.76,6.29,-1.52,,3.27,3.49,2022-04-13

2022-04-15
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-14&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
2722,471,Hirokazu Sawamura,BOS,0.00,0.00,0.00,0.00,,0.0%,0.0%,...,78,124,,0.00,3.11,-3.11,,4.89,6.80,2022-04-14
2723,472,Bryce Elder,ATL,6.35,0.00,4.00,3.18,,18.2%,0.0%,...,159,82,,4.76,6.29,-1.52,,3.27,3.49,2022-04-14

2022-04-16
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-15&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
3201,478,JP Sears,NYY,9.00,0.00,1.00,0.00,,33.3%,0.0%,...,27,65,,0.00,1.11,-1.11,,2.59,1.76,2022-04-15
3202,479,Bryce Elder,ATL,6.35,0.00,4.00,3.18,,18.2%,0.0%,...,159,82,,4.76,6.29,-1.52,,3.27,3.49,2022-04-15

2022-04-17
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-16&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
3685,483,Collin Snider,KCR,9.00,0.00,4.00,0.00,,28.6%,0.0%,...,27,46,,0.00,1.11,-1.11,,1.85,1.59,2022-04-16
3686,484,Bryce Elder,ATL,6.35,0.00,4.00,3.18,,18.2%,0.0%,...,159,82,,4.76,6.29,-1.52,,3.27,3.49,2022-04-16

2022-04-18
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-17&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
4173,487,Spencer Howard,TEX,15.00,0.00,5.00,12.00,,33.3%,0.0%,...,427,69,,18.00,17.11,0.89,,2.74,2.29,2022-04-17
4174,488,Collin Snider,KCR,9.00,0.00,4.00,0.00,,28.6%,0.0%,...,27,46,,0.00,1.11,-1.11,,1.85,1.59,2022-04-17

2022-04-19
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-18&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
4664,490,Spencer Howard,TEX,15.00,0.00,5.00,12.00,,33.3%,0.0%,...,427,69,,18.00,17.11,0.89,,2.74,2.29,2022-04-18
4665,491,Collin Snider,KCR,9.00,0.00,4.00,0.00,,28.6%,0.0%,...,27,46,,0.00,1.11,-1.11,,1.85,1.59,2022-04-18

2022-04-20
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-19&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
5160,495,Collin Snider,KCR,8.31,0.00,4.00,0.00,,26.7%,0.0%,...,31,57,,0.00,1.27,-1.27,,2.29,2.05,2022-04-19
5161,496,Andrew Wantz,LAA,0.00,0.00,0.00,0.00,,0.0%,0.0%,...,77,193,,0.00,3.11,-3.11,,7.55,13.13,2022-04-19

2022-04-21
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-20&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
5662,501,Spencer Howard,TEX,15.00,0.00,5.00,12.00,,33.3%,0.0%,...,427,69,,18.00,17.11,0.89,,2.74,2.29,2022-04-20
5663,502,Andrew Wantz,LAA,0.00,0.00,0.00,0.00,,0.0%,0.0%,...,77,193,,0.00,3.11,-3.11,,7.55,13.13,2022-04-20

2022-04-22
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-21&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
6166,503,Spencer Howard,TEX,15.00,0.00,5.00,12.00,,33.3%,0.0%,...,427,69,,18.00,17.11,0.89,,2.74,2.29,2022-04-21
6167,504,Andrew Wantz,LAA,0.00,0.00,0.00,0.00,,0.0%,0.0%,...,77,193,,0.00,3.11,-3.11,,7.55,13.13,2022-04-21

2022-04-23
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-22&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
6677,510,Spencer Howard,TEX,15.00,0.00,5.00,12.00,,33.3%,0.0%,...,427,69,,18.00,17.11,0.89,,2.74,2.29,2022-04-22
6678,511,Andrew Wantz,LAA,0.00,0.00,0.00,0.00,,0.0%,0.0%,...,77,193,,0.00,3.11,-3.11,,7.55,13.13,2022-04-22

2022-04-24
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-23&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
7196,518,Spencer Howard,TEX,15.00,0.00,5.00,12.00,,33.3%,0.0%,...,427,69,,18.00,17.11,0.89,,2.74,2.29,2022-04-23
7197,519,Andrew Wantz,LAA,0.00,0.00,0.00,0.00,,0.0%,0.0%,...,77,193,,0.00,3.11,-3.11,,7.55,13.13,2022-04-23

2022-04-25
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-24&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
7719,522,Ray Kerr,SDP,9.00,0.00,1.00,0.00,,33.3%,0.0%,...,29,102,,0.00,1.11,-1.11,,4.07,4.33,2022-04-24
7720,523,Andrew Wantz,LAA,0.00,0.00,0.00,0.00,,0.0%,0.0%,...,77,193,,0.00,3.11,-3.11,,7.55,13.13,2022-04-24

2022-04-26
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-25&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
8242,522,Ray Kerr,SDP,9.00,0.00,1.00,0.00,,33.3%,0.0%,...,29,102,,0.00,1.11,-1.11,,4.07,4.33,2022-04-25
8243,523,Andrew Wantz,LAA,0.00,0.00,0.00,0.00,,0.0%,0.0%,...,77,193,,0.00,3.11,-3.11,,7.55,13.13,2022-04-25

2022-04-27
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-26&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
8769,526,Ray Kerr,SDP,9.00,0.00,1.00,0.00,,33.3%,0.0%,...,29,102,,0.00,1.11,-1.11,,4.07,4.33,2022-04-26
8770,527,Andrew Wantz,LAA,0.00,0.00,0.00,0.00,,0.0%,0.0%,...,77,193,,0.00,3.11,-3.11,,7.55,13.13,2022-04-26

2022-04-28
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-27&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
9304,534,Ray Kerr,SDP,9.00,0.00,1.00,0.00,,33.3%,0.0%,...,29,102,,0.00,1.11,-1.11,,4.07,4.33,2022-04-27
9305,535,Andrew Wantz,LAA,9.00,0.00,2.00,4.50,,22.2%,0.0%,...,190,122,,9.00,7.61,1.39,,4.81,4.40,2022-04-27

2022-04-29
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-28&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
9840,535,Andrew Wantz,LAA,9.00,0.00,2.00,4.50,,22.2%,0.0%,...,190,122,,9.00,7.61,1.39,,4.81,4.40,2022-04-28
9841,536,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-04-28

2022-04-30
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-29&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
10382,541,Penn Murfee,SEA,9.00,0.00,2.00,0.00,,28.6%,0.0%,...,67,123,,0.00,2.61,-2.61,,4.83,2.87,2022-04-29
10383,542,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-04-29

2022-05-01
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-04-30&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
10927,544,Penn Murfee,SEA,9.00,0.00,2.00,0.00,,28.6%,0.0%,...,67,123,,0.00,2.61,-2.61,,4.83,2.87,2022-04-30
10928,545,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-04-30

2022-05-02
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-01&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
11480,552,Penn Murfee,SEA,9.00,0.00,2.00,0.00,,28.6%,0.0%,...,67,123,,0.00,2.61,-2.61,,4.83,2.87,2022-05-01
11481,553,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-01

2022-05-03
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-02&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
12033,552,Penn Murfee,SEA,9.00,0.00,2.00,0.00,,28.6%,0.0%,...,67,123,,0.00,2.61,-2.61,,4.83,2.87,2022-05-02
12034,553,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-02

2022-05-04
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-03&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
12588,554,Andrew Wantz,LAA,9.00,0.00,3.00,3.00,,27.3%,0.0%,...,135,91,,6.00,5.45,0.55,,3.58,2.97,2022-05-03
12589,555,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-03

2022-05-05
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-04&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
13147,558,Andrew Wantz,LAA,9.00,0.00,3.00,3.00,,27.3%,0.0%,...,135,91,,6.00,5.45,0.55,,3.58,2.97,2022-05-04
13148,559,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-04

2022-05-06
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-05&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
13708,560,Andrew Wantz,LAA,9.00,0.00,3.00,3.00,,27.3%,0.0%,...,135,91,,6.00,5.45,0.55,,3.58,2.97,2022-05-05
13709,561,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-05

2022-05-07
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-06&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
14271,562,Andrew Wantz,LAA,9.00,0.00,3.00,3.00,,27.3%,0.0%,...,135,91,,6.00,5.45,0.55,,3.58,2.97,2022-05-06
14272,563,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-06

2022-05-08
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-07&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
14840,568,Andrew Wantz,LAA,9.00,0.00,3.00,3.00,,27.3%,0.0%,...,135,91,,6.00,5.45,0.55,,3.58,2.97,2022-05-07
14841,569,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-07

2022-05-09
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-08&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
15412,571,George Kirby,SEA,10.50,0.00,7.00,0.00,,33.3%,0.0%,...,19,50,,0.00,0.78,-0.78,,2.01,2.13,2022-05-08
15413,572,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-08

2022-05-10
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-09&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
15991,578,George Kirby,SEA,10.50,0.00,7.00,0.00,,33.3%,0.0%,...,19,50,,0.00,0.78,-0.78,,2.01,2.13,2022-05-09
15992,579,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-09

2022-05-11
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-10&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
16574,582,George Kirby,SEA,10.50,0.00,7.00,0.00,,33.3%,0.0%,...,19,50,,0.00,0.78,-0.78,,2.01,2.13,2022-05-10
16575,583,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-10

2022-05-12
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-11&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
17164,589,Yennier Cano,MIN,7.71,0.00,2.00,3.86,,20.0%,0.0%,...,180,100,,11.57,6.97,4.60,,3.94,3.36,2022-05-11
17165,590,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-11

2022-05-13
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-12&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
17758,593,Yennier Cano,MIN,7.71,0.00,2.00,3.86,,20.0%,0.0%,...,180,100,,11.57,6.97,4.60,,3.94,3.36,2022-05-12
17759,594,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-12

2022-05-14
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-13&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
18355,596,Yennier Cano,MIN,7.71,0.00,2.00,3.86,,20.0%,0.0%,...,180,100,,11.57,6.97,4.60,,3.94,3.36,2022-05-13
18356,597,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-13

2022-05-15
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-14&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
18954,598,Yennier Cano,MIN,7.71,0.00,2.00,3.86,,20.0%,0.0%,...,180,100,,11.57,6.97,4.60,,3.94,3.36,2022-05-14
18955,599,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-14

2022-05-16
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-15&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
19558,603,Yennier Cano,MIN,7.71,0.00,2.00,3.86,,20.0%,0.0%,...,180,100,,11.57,6.97,4.60,,3.94,3.36,2022-05-15
19559,604,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-15

2022-05-17
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-16&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
20165,606,Yennier Cano,MIN,8.31,0.00,4.00,2.08,,23.5%,0.0%,...,110,75,,6.23,4.27,1.96,,2.97,2.69,2022-05-16
20166,607,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-16

2022-05-18
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-17&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
20778,612,Yennier Cano,MIN,8.31,0.00,4.00,2.08,,23.5%,0.0%,...,110,75,,6.23,4.27,1.96,,2.97,2.69,2022-05-17
20779,613,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-17

2022-05-19
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-18&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
21393,614,Yennier Cano,MIN,8.44,0.00,5.00,1.69,,21.7%,0.0%,...,109,81,,6.75,4.24,2.51,,3.19,2.92,2022-05-18
21394,615,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-18

2022-05-20
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-19&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
22008,614,Yennier Cano,MIN,8.44,0.00,5.00,1.69,,21.7%,0.0%,...,109,81,,6.75,4.24,2.51,,3.19,2.92,2022-05-19
22009,615,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-19

2022-05-21
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-20&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
22626,617,Yennier Cano,MIN,8.44,0.00,5.00,1.69,,21.7%,0.0%,...,109,81,,6.75,4.24,2.51,,3.19,2.92,2022-05-20
22627,618,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-20

2022-05-22
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-21&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
23245,618,Yennier Cano,MIN,8.44,0.00,5.00,1.69,,21.7%,0.0%,...,109,81,,6.75,4.24,2.51,,3.19,2.92,2022-05-21
23246,619,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-21

2022-05-23
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-22&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
23870,624,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-05-22
23871,625,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-22

2022-05-24
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-23&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
24497,626,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-05-23
24498,627,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-23

2022-05-25
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-24&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
25125,627,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-05-24
25126,628,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-24

2022-05-26
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-25&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
25755,629,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-05-25
25756,630,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-25

2022-05-27
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-26&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
26388,632,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-05-26
26389,633,Tyler Holton,ARI,9.00,0.00,1.00,0.00,,20.0%,0.0%,...,30,102,,0.00,1.11,-1.11,,4.07,3.18,2022-05-26

2022-05-28
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-27&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
27021,632,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-05-27
27022,633,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-05-27

2022-05-29
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-28&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
27658,636,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-05-28
27659,637,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-05-28

2022-05-30
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-29&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
28297,638,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-05-29
28298,639,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-05-29

2022-05-31
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-30&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
28943,645,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-05-30
28944,646,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-05-30

2022-06-01
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-05-31&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
29593,649,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-05-31
29594,650,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-05-31

2022-06-02
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-01&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
30247,653,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-01
30248,654,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-01

2022-06-03
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-02&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
30902,654,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-02
30903,655,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-02

2022-06-04
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-03&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
31567,664,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-03
31568,665,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-03

2022-06-05
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-04&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
32235,667,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-04
32236,668,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-04

2022-06-06
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-05&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
32905,669,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-05
32906,670,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-05

2022-06-07
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-06&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
33576,670,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-06
33577,671,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-06

2022-06-08
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-07&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
34249,672,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-07
34250,673,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-07

2022-06-09
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-08&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
34926,676,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-08
34927,677,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-08

2022-06-10
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-09&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
35604,677,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-09
35605,678,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-09

2022-06-11
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-10&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
36284,679,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-10
36285,680,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-10

2022-06-12
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-11&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
36966,681,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-11
36967,682,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-11

2022-06-13
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-12&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
37650,683,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-12
37651,684,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-12

2022-06-14
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-13&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
38336,685,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-13
38337,686,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-13

2022-06-15
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-14&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
39027,690,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-14
39028,691,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-14

2022-06-16
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-15&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
39723,695,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-15
39724,696,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-15

2022-06-17
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-16&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
40423,699,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-16
40424,700,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-16

2022-06-18
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-17&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
41126,702,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-17
41127,703,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-17

2022-06-19
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-18&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
41831,704,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-18
41832,705,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-18

2022-06-20
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-19&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
42539,707,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-19
42540,708,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-19

2022-06-21
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-20&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
43247,707,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-20
43248,708,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-20

2022-06-22
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-21&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
43956,708,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-21
43957,709,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-21

2022-06-23
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-22&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
44667,710,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-22
44668,711,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-22

2022-06-24
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-23&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
45378,710,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-23
45379,711,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-23

2022-06-25
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-24&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
46089,710,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-24
46090,711,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-24

2022-06-26
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-25&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
46800,710,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-25
46801,711,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-25

2022-06-27
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-26&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
47512,711,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-26
47513,712,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-26

2022-06-28
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-27&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
48229,716,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-27
48230,717,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-27

2022-06-29
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-28&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
48947,717,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-28
48948,718,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-28

2022-06-30
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-29&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
49666,718,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-29
49667,719,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-29

2022-07-01
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-06-30&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
50387,720,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-06-30
50388,721,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-06-30

2022-07-02
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-01&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
51109,721,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-01
51110,722,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-01

2022-07-03
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-02&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
51832,722,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-02
51833,723,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-02

2022-07-04
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-03&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
52557,724,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-03
52558,725,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-03

2022-07-05
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-04&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
53286,728,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-04
53287,729,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-04

2022-07-06
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-05&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
54017,730,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-05
54018,731,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-05

2022-07-07
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-06&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
54749,731,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-06
54750,732,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-06

2022-07-08
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-07&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
55482,732,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-07
55483,733,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-07

2022-07-09
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-08&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
56217,734,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-08
56218,735,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-08

2022-07-10
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-09&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
56953,735,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-09
56954,736,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-09

2022-07-11
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-10&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
57691,737,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-10
57692,738,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-10

2022-07-12
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-11&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
58430,738,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-11
58431,739,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-11

2022-07-13
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-12&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
59170,739,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-12
59171,740,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-12

2022-07-14
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-13&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
59912,741,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-13
59913,742,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-13

2022-07-15
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-14&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
60657,744,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-14
60658,745,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-14

2022-07-16
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-15&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
61403,745,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-15
61404,746,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-15

2022-07-17
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-16&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
62153,749,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-16
62154,750,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-16

2022-07-18
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-17&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
62905,751,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-17
62906,752,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-17

2022-07-19
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-18&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
63657,751,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-18
63658,752,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-18

2022-07-20
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-19&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
64409,751,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-19
64410,752,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-19

2022-07-21
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-20&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
65161,751,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-20
65162,752,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-20

2022-07-22
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-21&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
65915,753,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-21
65916,754,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-21

2022-07-23
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-22&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
66671,755,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-22
66672,756,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-22

2022-07-24
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-23&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
67427,755,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-23
67428,756,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-23

2022-07-25
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-24&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
68185,757,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-24
68186,758,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-24

2022-07-26
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-25&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
68944,758,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-25
68945,759,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-25

2022-07-27
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-26&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
69703,758,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-26
69704,759,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-26

2022-07-28
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-27&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
70462,758,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-27
70463,759,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-27

2022-07-29
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-28&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
71222,759,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-28
71223,760,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-28

2022-07-30
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-29&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
71985,762,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-29
71986,763,Tyler Holton,ARI,6.00,0.00,2.00,0.00,,18.2%,0.0%,...,47,118,,0.00,1.78,-1.78,,4.74,4.13,2022-07-29

2022-07-31
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-30&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
72752,766,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-30
72753,767,Tyler Holton,ARI,4.50,0.00,2.00,0.00,,13.3%,0.0%,...,55,127,,0.00,2.11,-2.11,,5.07,5.09,2022-07-30

2022-08-01
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-07-31&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
73522,769,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-07-31
73523,770,Tyler Holton,ARI,4.50,0.00,2.00,0.00,,13.3%,0.0%,...,55,127,,0.00,2.11,-2.11,,5.07,5.09,2022-07-31

2022-08-02
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-01&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
74293,770,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-01
74294,771,Tyler Holton,ARI,6.23,0.00,3.00,0.00,,18.8%,0.0%,...,46,112,,0.00,1.73,-1.73,,4.46,4.23,2022-08-01

2022-08-03
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-02&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
75065,771,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-02
75066,772,Tyler Holton,ARI,6.23,0.00,3.00,0.00,,18.8%,0.0%,...,46,112,,0.00,1.73,-1.73,,4.46,4.23,2022-08-02

2022-08-04
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-03&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
75838,772,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-03
75839,773,Tyler Holton,ARI,5.79,0.00,3.00,0.00,,15.8%,0.0%,...,48,117,,3.86,1.83,2.03,,4.68,4.65,2022-08-03

2022-08-05
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-04&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
76613,774,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-04
76614,775,Tyler Holton,ARI,5.79,0.00,3.00,0.00,,15.8%,0.0%,...,48,117,,3.86,1.83,2.03,,4.68,4.65,2022-08-04

2022-08-06
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-05&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
77389,775,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-05
77390,776,Tyler Holton,ARI,5.79,0.00,3.00,0.00,,15.8%,0.0%,...,48,117,,3.86,1.83,2.03,,4.68,4.65,2022-08-05

2022-08-07
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-06&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
78167,777,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-06
78168,778,Tyler Holton,ARI,5.79,0.00,3.00,0.00,,15.8%,0.0%,...,48,117,,3.86,1.83,2.03,,4.68,4.65,2022-08-06

Exception occured:  Message: timeout: Timed out receiving message from renderer: 25.974
  (Session info: chrome-headless-shell=120.0.6099.129)
Stacktrace:
0   chromedriver                        0x00000001007e84dc chromedriver + 4162780
1   chromedriver                        0x00000001007e0664 chromedriver + 4130404
2   chromedriver                        0x0000000100437bc0 chromedriver + 293824
3   chromedriver                        0x000000010041fc3c chromedriver + 195644
4   chromedriver                        0x000000010041fad0 chromedriver + 195280
5   chromedriver                        0x000000010041de3c chromedriver + 187964
6   chromedriver                        0x000000010041eb30 chromedriver + 191280
7   chromedriver                        0x000000010042df5c chromedriver + 253788
8   chromedriver                        0x00000001004434b4 chromedriver + 341172
9   chromedriver                        0x000000010041f1e0 chromedriver + 192992
10  chromedriver                        0x00000001004432d0 chromedriver + 340688
11  chromedriver                        0x00000001004bdbd8 chromedriver + 842712
12  chromedriver                        0x00000001004716bc chromedriver + 530108
13  chromedriver                        0x0000000100472930 chromedriver + 534832
14  chromedriver                        0x00000001007ade08 chromedriver + 3923464
15  chromedriver                        0x00000001007b23dc chromedriver + 3941340
16  chromedriver                        0x0000000100796038 chromedriver + 3825720
17  chromedriver                        0x00000001007b2f3c chromedriver + 3944252
18  chromedriver                        0x00000001007886f4 chromedriver + 3770100
19  chromedriver                        0x00000001007cf980 chromedriver + 4061568
20  chromedriver                        0x00000001007cfaf8 chromedriver + 4061944
21  chromedriver                        0x00000001007e02e4 chromedriver + 4129508
22  libsystem_pthread.dylib             0x00000001860ed034 _pthread_start + 136
23  libsystem_pthread.dylib             0x00000001860e7e3c thread_start + 8

2022-08-08
2022-08-09
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-08&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
78946,778,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-08
78947,779,Tyler Holton,ARI,5.79,0.00,3.00,0.00,,15.8%,0.0%,...,48,117,,3.86,1.83,2.03,,4.68,4.65,2022-08-08

Exception occured:  Message: timeout: Timed out receiving message from renderer: 25.624
  (Session info: chrome-headless-shell=120.0.6099.129)
Stacktrace:
0   chromedriver                        0x0000000102ca44dc chromedriver + 4162780
1   chromedriver                        0x0000000102c9c664 chromedriver + 4130404
2   chromedriver                        0x00000001028f3bc0 chromedriver + 293824
3   chromedriver                        0x00000001028dbc3c chromedriver + 195644
4   chromedriver                        0x00000001028dbad0 chromedriver + 195280
5   chromedriver                        0x00000001028d9e3c chromedriver + 187964
6   chromedriver                        0x00000001028dab30 chromedriver + 191280
7   chromedriver                        0x00000001028e9f5c chromedriver + 253788
8   chromedriver                        0x00000001028ff4b4 chromedriver + 341172
9   chromedriver                        0x00000001028db1e0 chromedriver + 192992
10  chromedriver                        0x00000001028ff2d0 chromedriver + 340688
11  chromedriver                        0x0000000102979bd8 chromedriver + 842712
12  chromedriver                        0x000000010292d6bc chromedriver + 530108
13  chromedriver                        0x000000010292e930 chromedriver + 534832
14  chromedriver                        0x0000000102c69e08 chromedriver + 3923464
15  chromedriver                        0x0000000102c6e3dc chromedriver + 3941340
16  chromedriver                        0x0000000102c52038 chromedriver + 3825720
17  chromedriver                        0x0000000102c6ef3c chromedriver + 3944252
18  chromedriver                        0x0000000102c446f4 chromedriver + 3770100
19  chromedriver                        0x0000000102c8b980 chromedriver + 4061568
20  chromedriver                        0x0000000102c8baf8 chromedriver + 4061944
21  chromedriver                        0x0000000102c9c2e4 chromedriver + 4129508
22  libsystem_pthread.dylib             0x00000001860ed034 _pthread_start + 136
23  libsystem_pthread.dylib             0x00000001860e7e3c thread_start + 8

2022-08-10
2022-08-11
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-10&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
79727,780,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-10
79728,781,Tyler Holton,ARI,5.79,0.00,3.00,0.00,,15.8%,0.0%,...,48,117,,3.86,1.83,2.03,,4.68,4.65,2022-08-10

2022-08-12
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-11&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
80508,780,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-11
80509,781,Tyler Holton,ARI,7.50,0.00,5.00,0.00,,20.8%,0.0%,...,38,98,,3.00,1.45,1.55,,3.91,3.55,2022-08-11

2022-08-13
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-12&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
81289,780,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-12
81290,781,Tyler Holton,ARI,7.50,0.00,5.00,0.00,,20.8%,0.0%,...,38,98,,3.00,1.45,1.55,,3.91,3.55,2022-08-12

2022-08-14
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-13&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
82074,784,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-13
82075,785,Tyler Holton,ARI,7.50,0.00,5.00,0.00,,20.8%,0.0%,...,38,98,,3.00,1.45,1.55,,3.91,3.55,2022-08-13

2022-08-15
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-14&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
82859,784,Nick Duron,PHI,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,28,29,,0.00,1.11,-1.11,,1.11,-0.92,2022-08-14
82860,785,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-14

2022-08-16
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-15&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
83646,786,Nick Duron,PHI,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,28,29,,0.00,1.11,-1.11,,1.11,-0.92,2022-08-15
83647,787,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-15

2022-08-17
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-16&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
84437,790,Alejo Lopez,CIN,0.00,0.00,0.00,0.00,,0.0%,0.0%,...,74,133,,0.00,3.11,-3.11,,5.33,5.92,2022-08-16
84438,791,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-16

2022-08-18
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-17&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
85229,791,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-08-17
85230,792,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-17

2022-08-19
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-18&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
86021,791,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-08-18
86022,792,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-18

2022-08-20
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-19&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
86815,793,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-08-19
86816,794,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-19

2022-08-21
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-20&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
87613,797,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-08-20
87614,798,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-20

Exception occured:  Message: timeout: Timed out receiving message from renderer: 25.467
  (Session info: chrome-headless-shell=120.0.6099.129)
Stacktrace:
0   chromedriver                        0x0000000104b244dc chromedriver + 4162780
1   chromedriver                        0x0000000104b1c664 chromedriver + 4130404
2   chromedriver                        0x0000000104773bc0 chromedriver + 293824
3   chromedriver                        0x000000010475bc3c chromedriver + 195644
4   chromedriver                        0x000000010475bad0 chromedriver + 195280
5   chromedriver                        0x0000000104759e3c chromedriver + 187964
6   chromedriver                        0x000000010475ab30 chromedriver + 191280
7   chromedriver                        0x0000000104769f5c chromedriver + 253788
8   chromedriver                        0x000000010477f4b4 chromedriver + 341172
9   chromedriver                        0x000000010475b1e0 chromedriver + 192992
10  chromedriver                        0x000000010477f2d0 chromedriver + 340688
11  chromedriver                        0x00000001047f9bd8 chromedriver + 842712
12  chromedriver                        0x00000001047ad6bc chromedriver + 530108
13  chromedriver                        0x00000001047ae930 chromedriver + 534832
14  chromedriver                        0x0000000104ae9e08 chromedriver + 3923464
15  chromedriver                        0x0000000104aee3dc chromedriver + 3941340
16  chromedriver                        0x0000000104ad2038 chromedriver + 3825720
17  chromedriver                        0x0000000104aeef3c chromedriver + 3944252
18  chromedriver                        0x0000000104ac46f4 chromedriver + 3770100
19  chromedriver                        0x0000000104b0b980 chromedriver + 4061568
20  chromedriver                        0x0000000104b0baf8 chromedriver + 4061944
21  chromedriver                        0x0000000104b1c2e4 chromedriver + 4129508
22  libsystem_pthread.dylib             0x00000001860ed034 _pthread_start + 136
23  libsystem_pthread.dylib             0x00000001860e7e3c thread_start + 8

2022-08-22
2022-08-23
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-22&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
88414,800,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-08-22
88415,801,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-22

2022-08-24
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-23&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
89222,807,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-08-23
89223,808,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-23

2022-08-25
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-24&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
90033,810,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-08-24
90034,811,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-24

2022-08-26
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-25&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
90845,811,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-08-25
90846,812,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-25

2022-08-27
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-26&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
91663,817,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-08-26
91664,818,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-26

2022-08-28
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-27&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
92481,817,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-08-27
92482,818,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-27

2022-08-29
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-28&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
93301,819,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-08-28
93302,820,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-28

2022-08-30
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-29&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
94123,821,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-08-29
94124,822,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-29

2022-08-31
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-30&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
94948,824,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-08-30
94949,825,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-30

2022-09-01
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-08-31&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
95773,824,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-08-31
95774,825,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-08-31

2022-09-02
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-01&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
96601,827,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-01
96602,828,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-01

2022-09-03
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-02&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
97433,831,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-02
97434,832,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-02

2022-09-04
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-03&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
98267,833,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-03
98268,834,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-03

2022-09-05
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-04&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
99102,834,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-04
99103,835,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-04

2022-09-06
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-05&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
99939,836,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-05
99940,837,Ryne Nelson,ARI,9.00,0.00,7.00,0.00,,28.0%,0.0%,...,30,71,,0.00,1.11,-1.11,,2.80,2.83,2022-09-05

2022-09-07
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-06&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
100777,837,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-06
100778,838,Ryne Nelson,ARI,9.00,0.00,7.00,0.00,,28.0%,0.0%,...,30,71,,0.00,1.11,-1.11,,2.80,2.83,2022-09-06

2022-09-08
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-07&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
101620,842,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-07
101621,843,Ryne Nelson,ARI,9.00,0.00,7.00,0.00,,28.0%,0.0%,...,30,71,,0.00,1.11,-1.11,,2.80,2.83,2022-09-07

2022-09-09
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-08&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
102463,842,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-08
102464,843,Ryne Nelson,ARI,9.00,0.00,7.00,0.00,,28.0%,0.0%,...,30,71,,0.00,1.11,-1.11,,2.80,2.83,2022-09-08

2022-09-10
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-09&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
103307,843,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-09
103308,844,Ryne Nelson,ARI,9.00,0.00,7.00,0.00,,28.0%,0.0%,...,30,71,,0.00,1.11,-1.11,,2.80,2.83,2022-09-09

2022-09-11
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-10&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
104152,844,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-10
104153,845,Ryne Nelson,ARI,9.00,0.00,7.00,0.00,,28.0%,0.0%,...,30,71,,0.00,1.11,-1.11,,2.80,2.83,2022-09-10

2022-09-12
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-11&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
104998,845,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-11
104999,846,Ryne Nelson,ARI,9.00,0.00,7.00,0.00,,28.0%,0.0%,...,30,71,,0.00,1.11,-1.11,,2.80,2.83,2022-09-11

2022-09-13
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-12&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
105845,846,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-12
105846,847,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-12

2022-09-14
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-13&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
106697,851,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-13
106698,852,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-13

2022-09-15
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-14&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
107550,852,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-14
107551,853,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-14

2022-09-16
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-15&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
108404,853,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-15
108405,854,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-15

2022-09-17
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-16&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
109258,853,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-16
109259,854,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-16

2022-09-18
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-17&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
110114,855,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-17
110115,856,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-17

2022-09-19
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-18&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
110970,855,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-18
110971,856,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-18

2022-09-20
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-19&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
111828,857,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-19
111829,858,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-19

2022-09-21
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-20&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
112686,857,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-20
112687,858,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-20

2022-09-22
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-21&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
113544,857,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-21
113545,858,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-21

2022-09-23
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-22&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
114402,857,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-22
114403,858,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-22

2022-09-24
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-23&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
115263,860,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-23
115264,861,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-23

2022-09-25
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-24&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
116125,861,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-24
116126,862,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-24

2022-09-26
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-25&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
116987,861,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-25
116988,862,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-25

2022-09-27
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-26&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
117849,861,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-26
117850,862,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-26

2022-09-28
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-27&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
118711,861,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-27
118712,862,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-27

2022-09-29
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-28&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
119574,862,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-28
119575,863,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-28

2022-09-30
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-29&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
120437,862,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-29
120438,863,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-29

2022-10-01
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-09-30&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
121301,863,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-09-30
121302,864,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-09-30

2022-10-02
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-10-01&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
122166,864,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-10-01
122167,865,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-10-01

2022-10-03
https://www.fangraphs.com/leaders/major-league?pos=all&stats=pit&lg=all&type=1&ind=0&pageitems=2000000000&qual=0&team=0&startdate=2022-04-06&enddate=2022-10-02&month=1000&season1=2022&season=2022&sortcol=3&sortdir=desc&pagenum=1

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
0,1,Josh Staumont,KCR,0.00,27.00,0.00,0.00,,0.0%,50.0%,...,312,310,,0.00,12.11,-12.11,,12.11,16.56,2022-04-07
1,2,Heath Hembree,PIT,0.00,18.00,0.00,0.00,,0.0%,40.0%,...,226,226,,0.00,9.11,-9.11,,9.11,13.13,2022-04-07

,#,Name,Team,K/9,BB/9,K/BB,HR/9,-,K%,BB%,...,FIP-,xFIP-,-,ERA,FIP,E-F,-,xFIP,SIERA,Stats Through This Date
123033,866,Freddy Tarnok,ATL,13.50,0.00,1.00,0.00,,33.3%,0.0%,...,4,4,,0.00,0.11,-0.11,,0.11,1.02,2022-10-02
123034,867,Cam Alldred,PIT,9.00,0.00,1.00,0.00,,25.0%,0.0%,...,29,65,,0.00,1.11,-1.11,,2.59,2.05,2022-10-02

In [15]:
pitcher_data.to_csv('daily_pitchers_data_2022.csv')